.product-view-content {
    width: 100%;
    margin-top: 40px;
    border: 1px solid var(--border);
    border-radius: 10px;
    background: var(--sideBackground);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.product-view-content p {
    padding: 12px 30px;
    border: 1px solid var(--border);
    border-radius: 30px;
    color: var(--cta);
    background: var(--accentColor);
}